body {
  height: 100vh;
  width: 100vw;
}

.drawing-board canvas {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 800px;
  height: 600px;
  border: 1px solid black;
  /* border-radius: 10px; */

  touch-action: none;
}
